@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="control-section">
        <ejs-schedule id="schedule" selectedDate="new DateTime(2022, 2, 20)">
            <e-schedule-eventsettings dataSource="ViewBag.appointments">
            </e-schedule-eventsettings>
        </ejs-schedule>
    </div>
</div>
